body {
  margin: 0;
}

.face-ctn {
  max-width: 360px;
  padding: 20px;
  margin: auto;
}

.face {
  display: block;
  margin: auto;
  width: 100%;
}

.bubble-ctn {
  margin-bottom: -1em;
  max-width: 14em;
  float: right;
  height: 4em;
}

.bubble {
  position: relative;
  border: 2px solid black;
  border-radius: 0.75em;
  padding: 1em;
  background-color: white;
  font-family: 'Permanent Marker', 'Comic Sans MS', cursive;
}

.bubble:after {
  content: '\a0';
  background-image: url('../img/bubble-arrow.png');
  background-repeat: no-repeat;;
  position: absolute;
  bottom: -22px;
  right: 40px;
  width: 32px;
  height: 22px;
  display: block;
}

.arnold {
  padding: 1rem;
  max-width: 400px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}
